.load-body{
    display: none;
}
.loading-icon-landing{
    width:100%;
height:100vh;
text-align: center;
}
.loading-icon-landing .center{
    position: relative;
    top:48%;
}
.loading-icon-landing .center div{
    padding:8px 8px;
    display: inline-block;
    border-radius: 50%;
}  
.loading-icon-landing .center .span1load{
    background: #0095a4;
    animation: moving_animate0 .25s infinite linear alternate;
    animation-delay: 0;
    position: relative;
    top:0;
} .loading-icon-landing .center .span2load{
    background: #0095a4;
    animation: moving_animate2 .25s infinite linear alternate;
    animation-delay: 0;
    position: relative;
    top:0;
} .loading-icon-landing .center .span3load{
    background: #0095a4;
    animation: moving_animate3 .25s infinite linear alternate;
    animation-delay: 0;
    position: relative;
    top:0;
}
@keyframes moving_animate0 {
    0%{
        top:-3px;
    }
    100%{
        top:3px;
    }
  }
  @keyframes moving_animate2 {
    0%{
      top:3px;
    }
    100%{
        top:-3px;
    }
  }
  @keyframes moving_animate3 {
    0%{
        top:-3px;
    }
    100%{
        top:3px;
    }
  }



   /*style headerssss */
    
   .headerssss{
    position: fixed;
    width: 100%;
    z-index: 100;
    /* display: none; */
    transition: all ease 1s;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.navbarssss {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 0;
    background: #0095a4;
    z-index:100;
    
}
.navbarssss .nav-logos{
    color:white;
    text-transform: uppercase;
}
.hamburger {
    display: none;
}
.hamburger .fa-bars{
    font-size:22px;
    color: white;
    margin-left:15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menussss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:12px;
}

.nav-itemss{
    text-transform: uppercase;
    list-style: none;
}  
.nav-itemss a{
    text-decoration: none;
    color:white;
}
.nav-itemss2{
    text-transform: uppercase;
    list-style: none;
}  
.nav-itemss2 a{
    text-decoration: none;
    color:white;
}

.nav-linkss{
    font-size: 16px;
    font-family: Roboto;
    margin-right: 25px;
    font-style: normal;
    font-weight: normal;
    transition:  all ease .35s;
    letter-spacing: 1.5px;
    white-space: nowrap;
}.nav-linkss:hover{
    color:#e08e78;
}
.nav-link{
    color: white;
}
.nav-logos {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 2px;
}.nav-logos img{
    width:100%;
    height:70px;
    z-index:100;
    margin-top:-1.5px;
    display: none;
    object-fit: cover;  
}
.titles{
   display: flex;
}
#title-texts{
   line-height:2.5;
   margin-left:10px;
   font-size:20px;
   text-decoration: none;
   color:#fff;
   width : 200px;
   overflow:hidden;
   display:inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding:4.5px;
}
#footertitle{
    display: none;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.body-cont2{
    background:#f8f9fc;
   
}
 @media(min-width:550px){
    #title-texts{
        width : 250px;
    }
} 
@media(min-width:1000px){
    .nav-logos img{
        display: inherit;
    }
    #footertitle{
        margin-top: 10px;
        display: inline-block;
        width : 200px;
    }
} @media(min-width:1200px){
    #title-texts{
        width : 400px;
    }
} 
@media only screen and (max-width: 900px) {
    .navbarssss{
        justify-content: space-between;
    }
    .nav-menussss {
        position: fixed;
        left: -100%;
        top:58px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 0 0 20px 20px;
        text-align: center;
        transition: all ease .30s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-logos img{
        width:100%;
        height:57px;
        z-index:100;
        margin-top:-1.5px;
        text-align:center;
        object-fit: cover;  
    }
    .nav-menussss li{
        margin:25px;
    }
    .nav-itemss a{
        color:#0095a4;
        transition: all ease .35s;
      
    }        .nav-itemss a:hover{
        color:#e08e78;
    }
   
    .active {
        left: 0;
    }
       
    .nav-itemss{
        margin: 2.5rem 0;
        text-transform: uppercase;
    }
    .nav-link{
        color: #450E46;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .navber{
        padding: .7rem 1.5rem;
    }

}


 /* style body */
 main {
    height: 100%;
    width: 100%;
}
section{
    width: 100%;
    height:100vh;
    padding:50px 10px;
}
.body-cont1{
    background:#fff;
}
.container-div{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container-div2{
    position: relative;
    top: 30%;
}
.center-content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.center-content h1{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #0095a4;
    font-weight: 700;
}
.center-content span{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: gray;
}
.center-content2{
    width:95%;
    margin:auto;
    text-align: center;
    cursor: pointer;
}
.owl-carousel .item img{
    object-fit: cover;  
    width:100%;
    height: 200px;
}
.center-content2 h1{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 8px;
    margin-top:10px;
    text-transform: uppercase;
    color: #0095a4;
}
.center-content a .fa-caret-down{
    font-size: 40px;
    animation: landanimate .25s infinite linear alternate;
    animation-delay: 0;
    position: relative;
    top:10em;
    color:#0095a4;
    
}
@keyframes landanimate {
    0%{
        top:-3px;
    }
    100%{
        top:3px;
    }
  }
 @media (min-width:500px){
    .center-content2{
        width:95%;
    }
    .center-content{
        width:80%;
    }
    .owl-carousel .item img{
        height: 300px;
    }
 }@media (min-width:700px){
    .center-content2{
        width:95%;
    }
    .owl-carousel .item img{
        height: 400px;
    }
    .center-content{
        width:70%;
    }
 }
 @media (min-width:900px){
    .center-content2{
        width:40em;
    }
 }
@media (min-width:1100px){
    .center-content a .fa-caret-down{
        font-size: 80px;
    }
    .center-content{
        margin-left: auto;
        margin-right: auto;
        width:60em;
    }
    .center-content h1{
        font-size:40px;
    }    
    .center-content span{
        font-size: 20px;
    }
    .center-content #btn-head{
        margin-top:40px;
        font-size: 27px;
        padding:15px 35px;
    }    
    .center-content2 h1{
        font-size:45px;
    }
    
    .cont2-cont p{
        font-size: 18px;
    }
    .center-content2{
        width:45em;
    }
    
    
}

@media (max-height:700px){
  .hre{
      height:750px;
  }
}


footer{
        
    justify-content: space-between;
    z-index:100;
    /* display: none; */
}
footer .footer-header{
    width:100%;
    background-color: #026871;
    padding:1.5em 22em .5em 22em;
    
} #logobottom{
    object-fit: cover;  
    width: 70px;
    margin-top: -70px;
}
  footer .footer-header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}footer .footer-header ul a{
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1.5px;
    color:#fff;
}
.nav-item2 {
    text-transform: uppercase;
}
footer{
    margin-top: 120px;
}
footer .footer-body{
    width:100%;
    background-color: #0095a4;
    padding:3em 15em 2em 15em;
    text-align: center;
}
footer .footer-body h1{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    text-transform: uppercase;
    /* identical to box height */
    color: #FFFFFF;
    letter-spacing: 1px;
}
footer .footer-body .contact-address p{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
    letter-spacing: 1px;
} footer .footer-body .policy a{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
}footer .footer-body .policy p{
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.contact-cont{
    width:100%;
    text-align: center;
   margin-top:15px;
   margin-bottom:15px;
}
.contact-cont a{
    width:20px;
    cursor:pointer;
    margin: 15px;
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    transition: all ease .35s;
}.contact-cont a:hover{
    color:#fff;
}
@media (max-width:1200px){
    footer .footer-header{
        width:100%;
        background-color: #026871;
        padding:1.5em 3em .5em 3em;
        
    }
}@media (max-width:800px){
    footer .footer-header{
        width:100%;
        background-color: #026871;
        padding:1.5em 4em .5em 3em;
        
    }footer .footer-header ul a{
        font-size: 13px;
    }footer .footer-body{
        background-color: #0095a4;
        padding:3em 2em 2em 2em;
        text-align: center;
    }
}

.viewfullscreenclass{
    position: fixed;
    width: 70%;
    z-index: 100;
    bottom: 0;
    top: 15%;
    left:15%;
}
.viewfullscreenclass img{
    object-fit: cover;  
    width: 100%;
    border-radius: 15px;
    height: 500px;
    z-index: 99;
 
}
.viewfullscreenclass .close-cionfullscreen{
    z-index:100;
    text-align: right;
    height:100%;
    width: 100%;
    background-color: red;
    height: 0;
    top:15px;
    width: 100%;
    position: relative;
}.viewfullscreenclass .close-cionfullscreen  .fa-xmark{
    color: white;
    font-size:20px;
    margin-right: 30px;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.smallsize{
    position: fixed;
    bottom:5px;
    right:15px;
    z-index:100;
    width:350px;
    cursor: pointer;
    cursor: pointer;
}
.smallsize img{
    object-fit: cover;  
    width: 100%;
    border-radius: 15px;
    height: 200px;
    z-index: 99;
 
}
.smallsize .close-cion{
    z-index:100;
    text-align: right;
    height:100%;
    width: 100%;
    top: 45px;
    position: relative;
    display: none;
}.smallsize .close-cion .fa-xmark{
    color: white;
    font-size:20px;
    margin-right: 30px;
    text-shadow: 2px 2px 4px #000000;
}
.smallsize .view-cion{
    z-index:100;
    text-align: center;
    height:100%;
    width: 100%;
    top:110px;
    position: relative;
    display: none;
}.smallsize .view-cion .fa-down-left-and-up-right-to-center{
    color: white;
    font-size:20px;
    text-shadow: 2px 2px 4px #000000;
}
.smallsize:hover img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.smallsize:hover .close-cion{
    display: inherit;
 } 


 @media(max-width:1000px){
    .viewfullscreenclass{
        width:98%;
        left:1%;
    }
 }

@media(max-width:600px){
    .smallsize{
        width:150px;
    }
    .smallsize img{
        height: 100px;
    }
    .smallsize .close-cion{
        top: 50px;
    }
    .smallsize .view-cion .fa-down-left-and-up-right-to-center{
        font-size: 16px;
    }
    .smallsize .close-cion .fa-xmark{
        margin-right: 10px;
        font-size: 16px;
    }
    .smallsize .view-cion{
        top:60px;
    }
    .viewfullscreenclass{
        top:30%;
    }
     .viewfullscreenclass img{
        height:250px;
    }
}

